<form name="formuCalculadora"  >
    <fieldset>
        <div name="visor" id="visor" >{{valorVisor}}</div>
        

        <div id="calc">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-3 botao"><input type="button" name="limpar" id="limpar" class="numero" value="AC"
                        (click)="limpar()" /></div>
                <div class="col-md-3 botao"><input type="button" name="dividir" id="dividir" class="operacao" value="/"
                        (click)="controleFluxo('dividir')" /></div>
            </div>
            <div class="row">
                <div class="col-md-3 botao"><input type="button" name="num7" id="num7" class="numero" value="7"
                        (click)="insereNumero(7)" /></div>
                <div class="col-md-3 botao"><input type="button" name="num8" id="num8" class="numero" value="8"
                        (click)="insereNumero(8)" /></div>
                <div class="col-md-3 botao"><input type="button" name="num9" id="num9" class="nnumeroum" value="9"
                        (click)="insereNumero(9)" /></div>
                <div class="col-md-3 botao"><input type="button" name="multiplicar" id="multiplicar" class="operacao"
                        value="*" (click)="controleFluxo('multiplicar')" /></div>
            </div>
            <div class="row">
                <div class="col-md-3 botao"><input type="button" name="num4" id="num4" class="numero" value="4"
                        (click)="insereNumero(4)" /></div>
                <div class="col-md-3 botao"><input type="button" name="num5" id="num5" class="numero" value="5"
                        (click)="insereNumero(5)" /></div>
                <div class="col-md-3 botao"><input type="button" name="num6" id="num6" class="numero" value="6"
                        (click)="insereNumero(6)" /></div>
                <div class="col-md-3 botao"><input type="button" name="subtrair" id="subtrair" class="operacao"
                        value="-" (click)="controleFluxo('subtrair')" /></div>
            </div>
            <div class="row">
                <div class="col-md-3 botao"><input type="button" name="num1" id="num1" class="numero" value="1"
                        (click)="insereNumero(1)" /></div>
                <div class="col-md-3 botao"><input type="button" name="num2" id="num2" class="numero" value="2"
                        (click)="insereNumero(2)" /></div>
                <div class="col-md-3 botao"><input type="button" name="num3" id="num3" class="numero" value="3"
                        (click)="insereNumero(3)" /></div>
                <div class="col-md-3 botao"><input type="button" name="somar" id="somar" class="operacao" value="+"
                        (click)="controleFluxo('somar')" /></div>
            </div>
            <div class="row linha">
                <div class="col-md-3"></div>
                <div class="col-md-3 botao"><input type="button" name="num0" id="num0" class="numero" value="0"
                        (click)="insereNumero(0)" /></div>
                <div class="col-md-3"></div>
                <div class="col-md-3 botao"><input type="button" name="igual" id="igual" class="operacao" value="="
                        (click)="controleFluxo('resultado')" /></div>
            </div>
        </div>
    </fieldset>
</form>